.page-1 .top-image-1 {
  background: url('../assets/images/top_image_11.gif') 50% / cover no-repeat;
  position: absolute;
  top: 220px;
  right: 95px;
  width: 460px;
  height: 250px;
}
.page-1 .super-reply-logo-1 {
  background: url('../assets/images/super_reply_logo_1.png') 50% / cover no-repeat;
  margin-bottom: 56.3px;
  align-self: flex-start;
  width: 246px;
  height: 86.7px;
}
.page-1 .communicate-like-apro {
  margin-bottom: 36px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 50px;
  color: #000000;
}
.page-1 .super-reply-takes-the-stress-out-of-professional-communication-and-helps-you-win-more-details {
  opacity: 0.5;
  margin: 0 6px 50px 6px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 19px;
  color: #000000;
}
.super-reply-takes-the-stress-out-of-professional-communication-and-helps-you-win-more-details-sub137 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.333;
}
.super-reply-takes-the-stress-out-of-professional-communication-and-helps-you-win-more-details {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 19px;
  line-height: 1.333;
}
.page-1 .ellipse-7 {
  margin: 2px 7px 0 0;
  width: 29px;
  height: 22px;
}
.page-1 .download-free-extension {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
}
.page-1 .frame-11 {
  border-radius: 23px;
  background: #111111;
  position: relative;
  margin: 0 6px 28px 6px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 19px 0 23px 0;
  width: 285px;
  box-sizing: border-box;
}
.page-1 .lock {
  background: url('../assets/images/lock_1.png') 50% / contain no-repeat;
  margin: 14px 27px 14px 0;
  width: 37px;
  height: 73px;
}
.page-1 .privacy-first-we-take-your-privacy-seriously-all-of-your-emails-and-replies-are-safe-and-super-reply-doesnt-store-them-on-our-servers {
  opacity: 0.6;
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.privacy-first-we-take-your-privacy-seriously-all-of-your-emails-and-replies-are-safe-and-super-reply-doesnt-store-them-on-our-servers {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
}
.page-1 .container-37 {
  margin: 0 6px 33px 6px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .trusted-by-employees-at {
  opacity: 0.43;
  margin: 0 0 32px 156.7px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #000000;
}
.page-1 .logo-11024-x-3981 {
  background: url('../assets/images/logo_11024_x_3981.png') 50% / cover no-repeat;
  margin: 15px 0 31.9px 0;
  width: 110px;
  height: 42.8px;
}
.page-1 .doc-1 {
  background: url('../assets/images/doc_1.png') 50% / cover no-repeat;
  margin: 15px 0 12.7px 0;
  width: 205px;
  height: 45px;
}
.page-1 .logo-51024-x-7161 {
  background: url('../assets/images/logo_51024_x_7161.png') 50% / cover no-repeat;
  width: 104px;
  height: 72.7px;
}
.page-1 .container-13 {
  margin-bottom: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 394px;
  height: fit-content;
  box-sizing: border-box;
}
.page-1 .logo-001024-x-9881 {
  background: url('../assets/images/logo_001024_x_9881.png') 50% / cover no-repeat;
  width: 93px;
  height: 89.7px;
}
.page-1 .container-29 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 817px;
  box-sizing: border-box;
}
.page-1 .container-44 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-1 .first-page {
  border: 1px solid #ffffff;
  background: #EDFAFC;
  position: relative;
  padding: 54px 94px 44.3px 90px;
  box-sizing: border-box;
}
.page-1 .frame-33 {
  box-sizing: border-box;
}
.page-1 .communicate-with-confidence {
  margin: 0 20.8px 33px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 46px;
  color: #000000;
}
.page-1 .improve-your-productivity-and-free-up-time-with-super-replys-ai-powered-email-replies {
  margin: 0 0 43px 4.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 19px;
  color: #000000;
}
.page-1 .img-11 {
  background: url('../assets/images/img_11.png') 50% / cover no-repeat;
  margin: 0 14px 48.6px 0;
  width: 684px;
  height: 411.4px;
}
.page-1 .easy-to-reply {
  margin-bottom: 55px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.page-1 .experience-the-magic-of-instant-email-handling-just-click-with-super-reply {
  opacity: 0.65;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 19px;
  color: #000000;
}
.page-1 .container-18 {
  margin: 11px 81.6px 145.8px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-1 .img-21 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  border: 2px solid rgba(0, 0, 0, 0.49);
  background: url('../assets/images/img_21.png') 50% / cover no-repeat;
  width: 470px;
  height: 301.8px;
}
.page-1 .container-8 {
  margin: 0 0 77.2px 20px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .image-31 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  border: 2px solid rgba(0, 0, 0, 0.49);
  background: url('../assets/images/image_31.png') 50% / cover no-repeat;
  margin-right: 84px;
  width: 470px;
  height: 289.2px;
}
.page-1 .tone-of-voice {
  margin-bottom: 45px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.page-1 .our-ai-email-respondertechnology-suggests-personalized-responses-for-any-situation-whether-its-aprofessional-email-or-acasual-conversation-with-afriend {
  opacity: 0.65;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 19px;
  color: #000000;
}
.page-1 .container-12 {
  margin: 29px 0 79.2px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-1 .container-21 {
  margin: 0 60.1px 82.8px 60.1px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .smart-responses {
  margin-bottom: 40px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.page-1 .find-the-perfect-response-one-click-with-super-reply-gives-you-options-ensuring-you-always-have-the-right-words {
  opacity: 0.65;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 19px;
  color: #000000;
}
.page-1 .container-15 {
  margin: 23px 122.3px 120px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-1 .img-41 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  border: 2px solid rgba(0, 0, 0, 0.49);
  background: url('../assets/images/img_41.png') 50% / cover no-repeat;
  width: 470px;
  height: 296px;
}
.page-1 .container-9 {
  margin: 0 0 128px 6px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .happy {
  background: url('../assets/images/happy.png') 50% / contain no-repeat;
  width: 38px;
  height: 38px;
}
.page-1 .free-to-start {
  margin: 4px 0 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 19px;
  color: #1B1414;
}
.page-1 .container-38 {
  border-radius: 23px 23px 19px 19px;
  background: rgba(214, 231, 241, 0.48);
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 18px 0 113px 16px;
  width: 359px;
  box-sizing: border-box;
}
.page-1 .brain {
  background: url('../assets/images/brain.png') 50% / contain no-repeat;
  margin-right: 1px;
  width: 38px;
  height: 38px;
}
.page-1 .tone-matching-email-suggestions {
  margin: 4px 0 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 19px;
  color: #000000;
}
.page-1 .container-3 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .crafting-the-perfect-tone-for-every-customer-query-and-sales-pitch {
  margin-right: 1.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 16px;
  color: #000000;
}
.page-1 .container-2 {
  border-radius: 23px 23px 19px 19px;
  background: rgba(214, 231, 241, 0.48);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 12.2px 75px 16px;
  box-sizing: border-box;
}
.page-1 .lock-1 {
  background: url('../assets/images/lock.png') 50% / contain no-repeat;
  margin-bottom: 74px;
  width: 38px;
  height: 38px;
}
.page-1 .privacy-first {
  margin: 0 6px 6px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 19px;
  color: #000000;
}
.page-1 .we-take-your-privacy-seriously-at-super-reply-all-of-your-emails-and-replies-are-encrypted-and-we-dont-store-them-on-our-servers {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 16px;
  color: #000000;
}
.page-1 .container-14 {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-1 .container-30 {
  border-radius: 23px 23px 19px 19px;
  background: rgba(214, 231, 241, 0.48);
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 9px 34.9px 48px 16px;
  box-sizing: border-box;
}
.page-1 .container-25 {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  box-sizing: border-box;
}
.page-1 .our-app-is-free-to-start-allowing-you-to-send-up-to-90-emails-per-month-without-any-cost {
  position: absolute;
  left: 54px;
  top: 50%;
  translate: 0 -50%;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 16px;
  color: #000000;
}
.page-1 .container-24 {
  position: relative;
  margin: 0 0 43px 27px;
  display: flex;
  box-sizing: border-box;
}
.page-1 .ellipse-71 {
  margin: 2px 7px 0 0;
  width: 29px;
  height: 22px;
}
.page-1 .download-free-extension-1 {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.page-1 .frame-111 {
  border-radius: 23px;
  background: #111111;
  position: relative;
  margin-left: 22px;
  display: flex;
  flex-direction: row;
  padding: 19px 0 23px 0;
  width: 300px;
  box-sizing: border-box;
}
.page-1 .mac-book-air-2 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 63px 64px 63px;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .security {
  opacity: 0.7;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 26px;
  position: absolute;
  right: 200px;
  top: 20px;
  color: #000000;
}
.page-1 .container-5 {
  border-radius: 12px;
  background: #ffffff;
  position: relative;
  margin-bottom: 29px;
  display: flex;
  padding: 10px 60.2px 17px 0;
  width: 413px;
  box-sizing: border-box;
}
.page-1 .super-reply-only-accesses-the-email-threads-you-choose-to-use-it-on {
  margin: 0 35.3px 0 21px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #242121;
  position: absolute;
  top: 80px;
  opacity: 0.9;
}
.page-1 .container-20 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-1 .lock-2 {
  background: url('../assets/images/lock_1.png') 50% / contain no-repeat;
  position: absolute;
  left: 27px;
  top: 11px;
  width: 45px;
  height: 73px;
}
.page-1 .container-17 {
  border-radius: 16px;
  background: #FEFEFE;
  position: absolute;
  right: 433.1px;
  display: flex;
  padding: 16px 5px 0 6px;
  height: 549px;
  box-sizing: border-box;
   
}
.page-1 .additionallywe-do-not-store-any-emails-or-replies-on-our-servers-we-understand-that-your-emails-contain-sensitive-information-and-we-take-the-security-of-that-information-very-seriously-to-ensure-the-protection-of-your-data-we-use-industry-standard-encryption-and-security-measures-we-take-every-precaution-to-ensure-the-security-of-your-data {
  position: absolute;
  right: 465.1px;
  bottom: 247px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  opacity: 0.7;
}
.additionallywe-do-not-store-any-emails-or-replies-on-our-servers-we-understand-that-your-emails-contain-sensitive-information-and-we-take-the-security-of-that-information-very-seriously-to-ensure-the-protection-of-your-data-we-use-industry-standard-encryption-and-security-measures-we-take-every-precaution-to-ensure-the-security-of-your-data-sub8 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}
.page-1 .security-page {
  background: #EDFAFC;
  position: relative;
  display: flex;
  padding: 156px 24px 198px 0;
  width: 1290px;
  height: 885px;
  box-sizing: border-box;
}
.page-1 .integrations {
  opacity: 0.51;
  margin: 0 5.5px 36px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 31px;
  color: #000000;
}
.page-1 .rectangle-20 {
  background: url('../assets/images/rectangle_20.png') 50% / cover no-repeat, linear-gradient(#FFFFFF, #FFFFFF);
  margin-top: 10px;
  width: 60px;
  height: 60px;
}
.page-1 .rectangle-28 {
  background: url('../assets/images/rectangle_28.png') 50% / cover no-repeat;
  width: 70px;
  height: 70px;
}
.page-1 .rectangle-23 {
  background: url('../assets/images/rectangle_23.png') 50% / cover no-repeat;
  margin: 10px 0 5px 0;
  width: 60px;
  height: 55px;
}
.page-1 .rectangle-27 {
  background: url('../assets/images/rectangle_27.png') 50% / cover no-repeat;
  margin: 5px 0;
  width: 60px;
  height: 60px;
}
.page-1 .container-23 {
  margin: 0 0 70px 0.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 568px;
  box-sizing: border-box;
}
.page-1 .rectangle-22 {
  background: url('../assets/images/rectangle_22.png') 50% / cover no-repeat, linear-gradient(#FFFFFF, #FFFFFF);
  width: 70px;
  height: 60px;
}
.page-1 .rectangle-26 {
  background: url('../assets/images/rectangle_26.png') 50% / cover no-repeat;
  margin-top: 5px;
  width: 70px;
  height: 55px;
}
.page-1 .rectangle-25 {
  background: url('../assets/images/rectangle_25.png') 50% / cover no-repeat;
  width: 60px;
  height: 60px;
}
.page-1 .rectangle-24 {
  background: url('../assets/images/rectangle_24.png') 50% / cover no-repeat;
  margin: 5px 0 6px 0;
  width: 49px;
  height: 49px;
}
.page-1 .container-43 {
  margin: 0 0 52.6px 0.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 568px;
  box-sizing: border-box;
}
.page-1 .vector {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 285.9px;
  height: 66.7px;
}
.page-1 .group-1 {
  margin: 1.3px 12.6px 0 0;
  width: 35.6px;
  height: 39px;
}
.page-1 .featured-on {
  margin-bottom: 29.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 9px;
  color: #4B587C;
}
.page-1 .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .vector-1 {
  margin: 0 3.7px 5px 6.8px;
  width: 12.6px;
  height: 12.6px;
}
.page-1 .container {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 13px;
  color: #4B587C;
}
.page-1 .group {
  margin: 2.5px 0 4.1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-1 .container-45 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 251.7px;
  height: fit-content;
  box-sizing: border-box;
}
.page-1 .product-hunt {
  position: absolute;
  left: 59.1px;
  bottom: 18.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 21px;
  color: #4B587C;
}
.page-1 .featured-1 {
  position: relative;
  display: flex;
  padding: 13.2px 22.1px 13.2px 12.1px;
  width: 287px;
  box-sizing: border-box;
}
.page-1 .facebook-f {
  background: url('../assets/images/facebook_f.png') 50% / contain no-repeat;
  margin-right: 3px;
  width: 40px;
  height: 40px;
}
.page-1 .join-our-community {
  margin: 7px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 21px;
  color: #000000;
}
.page-1 .frame-12 {
  border: 1px solid rgba(0, 0, 0, 0.48);
  margin: 13.4px 0 1.4px 0;
  display: flex;
  flex-direction: row;
  padding: 5px 8.2px 5px 12px;
  box-sizing: border-box;
}
.page-1 .container-28 {
  margin: 0 0 108.6px 25.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 808.4px;
  box-sizing: border-box;
}
.page-1 .rectangle-35 {
  background: url('../assets/images/rectangle_35.png') 50% / cover no-repeat;
  width: 260px;
  height: 184px;
}
.page-1 .container-40 {
  background: #FFFCFC;
  position: absolute;
  left: 14px;
  top: 141px;
  display: flex;
  padding-left: 3px;
  width: 263px;
  height: 612px;
  box-sizing: border-box;
}
.page-1 .day-23 {
  background: #FEFEFE;
  position: absolute;
  left: 286px;
  top: 870px;
  width: 263px;
  height: 612px;
}
.page-1 .day-22 {
  background: #FFFFFF;
  position: absolute;
  top: 870px;
  right: 298.9px;
  width: 268px;
  height: 612px;
}
.page-1 .day-21 {
  background: #FFFFFF;
  position: absolute;
  top: 870px;
  right: 14.9px;
  width: 263px;
  height: 669px;
}
.page-1 .rectangle-37 {
  background: url('../assets/images/rectangle_37.png') 50% / cover no-repeat;
  width: 266px;
  height: 186px;
}
.page-1 .container-31 {
  background: #FFFDFD;
  position: absolute;
  top: 141px;
  right: 292.9px;
  display: flex;
  padding-right: 1px;
  width: 267px;
  height: 684px;
  box-sizing: border-box;
}
.page-1 .updates {
  margin: 0 14px 85px 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 45px;
  color: #000000;
}
.page-1 .day-30-of-buildingsuper-replythe-chrome-extension-thats-going-to-revolvuionize-the-way-people-handle-their-emails-as-ive-been-working-on-this {
  margin: 372px 18px 74px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 18px;
  color: #1b1a1a;
}
.page-1 .today-marks-day-28-of-building-super-reply-ihave-had-amajor-breakthrough-with-investors-and-have-had-advanced-talks-with-several-of-them {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .container-39 {
  background: #FFFDFD;
  position: relative;
  margin: 2px 21px 0 0;
  display: flex;
  padding: 393px 16px 51px 7px;
  box-sizing: border-box;
}
.page-1 .day-26-differentiated-approach-super-reply-targets-independent-professionals-for-whom-english-is-asecond-language {
  margin: 216px 6.7px 134px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .day-25-super-reply-celebrates-first-paying-customers {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .container-16 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 221px 25.3px 259px 0;
  box-sizing: border-box;
}
.page-1 .rectangle-38 {
  background: url('../assets/images/rectangle_38.png') 50% / cover no-repeat;
  position: absolute;
  left: 3px;
  top: 0px;
  right: 14.9px;
  height: 186px;
}
.page-1 .today-was-abig-day-for-super-reply-we-got-our-first-customers-to-upgrade-to-paid-plans-two-users-bought-yearly-subscriptions-and-two-bought-monthly-ones {
  position: absolute;
  right: 0px;
  bottom: 46px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-251 {
  position: relative;
  display: flex;
  padding: 2px 14.9px 0 0;
  box-sizing: border-box;
}
.page-1 .container-26 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .day-30-why-it-pays-to-listen-to-experts-in-the-cybersecurity-industry {
  position: absolute;
  left: 0px;
  top: 216px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .rectangle-36 {
  background: url('../assets/images/rectangle_36.png') 50% / cover no-repeat;
  position: absolute;
  left: 276px;
  top: 0px;
  width: 266px;
  height: 186px;
}
.page-1 .day-28-exciting-times-advanced-investors-talks-and-israeli-media-attention {
  position: absolute;
  left: 286px;
  top: 214px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .container-6 {
  position: relative;
  margin: 0 0 117px 17px;
  display: flex;
  box-sizing: border-box;
}
.page-1 .rectangle-39 {
  background: #FEFBFB;
  position: relative;
  width: 263px;
  height: 612px;
}
.page-1 .rectangle-40 {
  background: url('../assets/images/rectangle_402.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 15.9px;
  height: 201px;
}
.page-1 .day-24-super-replys-user-base-approaches-1-kmark-engagement-shows-no-sign-of-slowing-down {
  position: absolute;
  right: 0px;
  bottom: 174px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .today-has-been-an-exciting-day-for-the-super-reply-team-as-we-continue-to-receive-messages-from-users-expressing-their-love-for-the-platform {
  position: absolute;
  left: 0px;
  bottom: 3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-24 {
  position: relative;
  margin: 0 6.1px 57px 0;
  display: flex;
  padding: 0 15.9px 0 2px;
  width: 265px;
  height: 612px;
  box-sizing: border-box;
}
.page-1 .day-23-we-made-it-to-6-on-product-hunt-super-reply-goes-viral-in-the-tlv-tech-scene {
  margin: 247px 13px 257px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .day-22-super-reply-reaches-300-users-50-of-them-business-users {
  margin: 247px 9.7px 290px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .its-day-21-of-buildingsuper-reply-my-new-chrome-extension-today-was-all-about-getting-ready-for-our-launch-day-tomorrow-ispent-the-day-working-on-the-website-and-making-sure-that-were-targeting-the-right-users {
  margin-top: 453px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .container-32 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .day-21-the-mom-test-my-go-to-method-for-super-reply-validating {
  position: absolute;
  top: 247px;
  right: 4.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .as-iprepared-for-the-launch-ispent-alot-of-time-talking-to-potential-users-and-customers-to-really-understand-the-value-of-our-product {
  position: absolute;
  left: 287px;
  bottom: 72px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .its-been-22-days-since-istarted-building-super-reply-and-ive-made-the-decision-to-hold-off-on-launching-the-product-until-tomorrow {
  position: absolute;
  right: 284.8px;
  bottom: 120px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .rectangle-45 {
  background: url('../assets/images/rectangle_45.png') 50% / cover no-repeat;
  position: absolute;
  top: 4px;
  right: 298.7px;
  width: 268px;
  height: 205px;
}
.page-1 .rectangle-46 {
  background: url('../assets/images/rectangle_46.png') 50% / cover no-repeat;
  position: absolute;
  top: 6px;
  right: 8.7px;
  width: 262px;
  height: 205px;
}
.page-1 .container-42 {
  position: relative;
  margin: 0 1.2px 65px 0;
  display: flex;
  box-sizing: border-box;
}
.page-1 .day-20-of-building-super-reply-has-been-athrilling-one-ive-learned-so-much-and-cant-believe-what-weve-accomplished-in-just-20-days {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .container-36 {
  background: #FEFBFB;
  position: relative;
  display: flex;
  padding: 411px 12.2px 57px 0;
  box-sizing: border-box;
}
.page-1 .rectangle-401 {
  background: url('../assets/images/rectangle_40.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 20px;
  height: 201px;
  width: 260px ;
}
.page-1 .day-20-download-super-reply-directly-from-the-chrome-extension-store {
  position: absolute;
  right: 284.8px;
  bottom: 120px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-20 {
  position: relative;
  margin: 0 5px 87px 0;
  display: flex;
  padding: 0 15px 0 2px;
  box-sizing: border-box;
}
.page-1 .day-19-vlas-the-dedicated-developer-behind-superlys-success {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .container-19 {
  background: #FEFBFB;
  position: relative;
  padding: 240px 3px;
  box-sizing: border-box;
}
.page-1 .rectangle-402 {
  background: url('../assets/images/rectangle_404.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5px;
  height: 201px;
}
.page-1 .today-marks-day-19-of-building-super-reply-and-things-are-really-starting-to-come-together-im-extremely-excited-about-everything-thats-been-happening-lately-and-iknow-ineed-to-hold-onto-this-feeling-days-like-today-are-special-and-iwant-to-make-sure-to-fully-enjoy-them {
  position: absolute;
  left: 4px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-19 {
  position: relative;
  margin-right: 22px;
  padding-left: 2px;
  width: 265px;
  height: 699px;
  box-sizing: border-box;
}
.page-1 .day-18-first-influencer-endorsement-for-super-reply-amajor-milestone {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .container-4 {
  background: #FEFBFB;
  position: relative;
  padding: 240px 3px 279px 3px;
  box-sizing: border-box;
}
.page-1 .rectangle-403 {
  background: url('../assets/images/rectangle_403.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5px;
  height: 201px;
}
.page-1 .today-marks-day-18-of-my-journey-buildingsuper-reply-and-its-been-awild-ride-so-far-im-thrilled-to-see-what-weve-been-able-to-accomplish-in-just-18-days-and-its-been-amazing-to-see-my-vision-being-recognized-by-journalists-and-influencers {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-18 {
  position: relative;
  margin: 0 25px 15px 0;
  padding-left: 2px;
  width: 265px;
  box-sizing: border-box;
}
.page-1 .day-17-join-the-journey-and-trysuper-reply-beta-for-yourself {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .container-11 {
  background: #FEFBFB;
  position: relative;
  padding: 240px 3px;
  box-sizing: border-box;
}
.page-1 .rectangle-404 {
  background: url('../assets/images/rectangle_401.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5px;
  height: 201px;
}
.page-1 .today-marks-day-17-of-my-journey-buildingsuper-reply-achrome-extension-that-im-excited-to-launch-on-january-1-st-2023-it-was-along-day-but-it-was-also-one-of-the-most-rewarding-days-so-far {
  position: absolute;
  left: 4px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-17 {
  position: relative;
  margin-bottom: 72px;
  padding: 0 0 15px 2px;
  width: 265px;
  box-sizing: border-box;
}
.page-1 .container-34 {
  margin: 0 8.9px 73px 2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .day-16-super-reply-approved-by-google-chrome-store-pauls-designs-come-to-life {
  margin: 0 3px 6px 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .its-day-16-of-building-super-reply-and-the-countdown-to-our-january-1-st-launch-is-on-today-was-abig-day-for-our-teamas-we-received-approval-from-the-google-chrome-store-for-our-extension {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .container-10 {
  background: #FEFBFB;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 240px 8.6px 0 0;
  box-sizing: border-box;
}
.page-1 .rectangle-405 {
  background: url('../assets/images/rectangle_405.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 201px;
}
.page-1 .day-16 {
  position: relative;
  margin-right: 23px;
  display: flex;
  padding-left: 2px;
  box-sizing: border-box;
}
.page-1 .day-15-from-bugs-to-strings-solving-problems-in-the-final-stages-of-building-super-reply {
  margin-bottom: 44px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .as-iembark-on-my-journey-to-build-achrome-extension-calledsuper-reply-there-have-been-many-challenges-and-exciting-moments-along-the-way-day-15-of-this-journey-was-no-exception-first-thing-in-the-morning {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-15 {
  background: #FFFFFF;
  position: relative;
  margin: 0 17px 216px 0;
  display: flex;
  flex-direction: column;
  padding: 3px 10.1px 16px 0;
  box-sizing: border-box;
}
.page-1 .today-was-abig-day-for-super-reply-iwoke-up-feeling-well-rested-after-along-week-of-hacking-and-hit-the-ground-running-iwas-happy-to-treat-myself-to-agym-session-and-received-encouraging-messages-from-friends-and-followers-excited-to-try-out-the-product {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .container-33 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 208px 14.2px 2px 1px;
  box-sizing: border-box;
}
.page-1 .day-14-ensuring-abug-free-launch-for-super-reply-with-qa-focus {
  position: absolute;
  left: 6px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .day-141 {
  position: relative;
  margin: 0 30px 216px 0;
  display: flex;
  padding-top: 3px;
  box-sizing: border-box;
}
.page-1 .day-13-ahanukah-miracle-google-developer-impressed-by-super-reply {
  margin-bottom: 46px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .its-been-abusy-few-days-here-as-weve-been-working-hard-to-get-our-chrome-extension-ready-for-launch-on-january-1-st-2023 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-131 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 216px;
  display: flex;
  flex-direction: column;
  padding: 0 26.3px 122px 3px;
  box-sizing: border-box;
}
.page-1 .container-22 {
  margin: 0 3.9px 64px 4px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .day-12-exclusive-insider-access-join-the-super-reply-beta-testing-group {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .container-35 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 3px 26.4px 0 0;
  height: 477px;
  box-sizing: border-box;
}
.page-1 .day-12-of-building-super-reply-and-im-already-seeing-major-progress-istarted-the-day-by-chatting-with-my-developer-about-what-we-need-to-do-in-order-to-launch-as-soon-as-possible-he-reminded-me-that-it-can-take-up-to-seven-days-for-google-to-approve-achrome-extension {
  position: absolute;
  left: 3px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-12 {
  position: relative;
  margin-right: 18px;
  display: flex;
  padding-bottom: 7px;
  height: 484px;
  box-sizing: border-box;
}
.page-1 .day-11-how-arave-promoter-turned-tech-founder-built-asuccessful-mvp {
  margin-bottom: 58px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .iwant-to-give-aspecial-shoutout-to-my-developer-hashir-who-is-celebrating-his-wedding-this-week-isent-him-agift-to-show-my-appreciation-for-his-dedication-to-the-project-and-wish-him-alifetime-of-health-happiness-and-success-with-his-new-wife {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-11 {
  background: #FFFFFF;
  position: relative;
  margin: 0 17px 7px 0;
  display: flex;
  flex-direction: column;
  padding: 3px 19.1px 11px 0;
  box-sizing: border-box;
}
.page-1 .day-10-the-power-of-community-how-friends-mentors-and-experts-helped-launch-super-reply {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .with-only-10-days-until-launch-ive-been-working-closely-with-my-developers-to-iron-out-any-issues-and-make-sure-our-product-is-ready-to-go {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-10 {
  background: #FFFFFF;
  position: relative;
  margin: 0 9px 7px 0;
  display: flex;
  flex-direction: column;
  padding: 3px 16px 88px 0;
  box-sizing: border-box;
}
.page-1 .day-9-ahanukkah-celebration-and-abreakthrough-moment {
  margin-bottom: 77px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .today-was-day-nine-of-my-journey-building-the-super-reply-chrome-extension-it-was-also-hanukkah-today-and-we-lit-the-first-candle-to-celebrate-its-my-first-hanukkah-in-the-us-with-my-wife-so-it-was-really-special {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-9 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  padding: 3px 4.2px 16px 0;
  box-sizing: border-box;
}
.page-1 .container-7 {
  margin: 0 24.9px 97px 9px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .day-8-make-sure-our-product-stands-out-in-the-market {
  margin-bottom: 25px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .in-this-session-iwant-to-discuss-my-plans-for-building-asuccessful-company-ihave-agood-feeling-about-this-project-and-believe-it-will-be-one-of-the-most-successful-ive-ever-worked-on {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-8 {
  background: #FFFFFF;
  position: relative;
  margin: 0 18px 3px 0;
  display: flex;
  flex-direction: column;
  padding: 3px 19.2px 125px 0;
  box-sizing: border-box;
}
.page-1 .day-7-building-ateam-with-international-talent-for-the-best-conversation-reply-generator-tool {
  margin: 0 15.9px 44px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .as-icontinue-on-my-journey-building-achrome-extension-with-the-goal-of-reaching-1-million-users-ive-had-some-exciting-developments-to-report {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-7 {
  background: #FFFFFF;
  position: relative;
  margin: 3px 17px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 10.3px 88px 0;
  box-sizing: border-box;
}
.page-1 .day-6-solving-auser-experience-problem-with-achrome-extension {
  margin: 0 9.2px 47px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .as-iwas-building-my-chrome-extension-ifaced-acommon-user-experience-problem-when-viewing-emails-in-the-main-window-of-gmail-the-snippet-of-the-beginning-of-the-message-is-sometimes-not-enough-for-people-to-determine-whether-or-not-they-want-to-reply {
  margin-left: 3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-6 {
  background: #FFFFFF;
  position: relative;
  margin: 0 9px 3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 12.4px 31px 0;
  box-sizing: border-box;
}
.page-1 .day-5-building-ai-email-reply-generator {
  margin-bottom: 53px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .as-ive-been-building-this-product-user-experience-has-always-been-atop-priority-for-me-recently-ireceived-some-feedback-from-users-who-said-that-the-current-gmail-snippet-view-wasnt-enough-for-them-to-be-able-to-respond {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-5 {
  background: #FFFFFF;
  position: relative;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  padding: 3px 0 82px 0;
  width: 265px;
  box-sizing: border-box;
}
.page-1 .container-1 {
  margin: 0 24.9px 42px 9px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .day-4-building-the-perfect-response-generator-for-gmail {
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .major-update-alert-iam-beyond-excited-to-share-that-our-ai-model-for-the-new-email-app-is-finally-working-after-afew-days-of-hard-work-we-were-able-to-fix-the-server-side-by-connecting-our-api-to-something-called-da-vinci-open {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-4 {
  background: #FFFFFF;
  position: relative;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  padding: 3px 6.7px 58px 0;
  box-sizing: border-box;
}
.page-1 .day-1-building-free-email-response-generator {
  margin-bottom: 43px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  color: #000000;
}
.page-1 .hey-everyone-im-excited-to-share-my-journey-as-iwork-on-building-anew-app-that-uses-ai-to-help-people-reply-to-emails-without-having-to-type-asingle-word {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .day-1 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3px 4.3px 164px 0;
  box-sizing: border-box;
}
.page-1 .container-27 {
  margin: 0 12px 13px 12px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .privacy-policy {
  margin: 0 0 49px 53.6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 34px;
  color: #000000;
}
.page-1 .terms-and-conditions {
  margin: 0 0 190px 68.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 34px;
  color: #000000;
}
.page-1 .super-reply-1701-south-figueroa-1350-los-angeles-ca-90015 {
  opacity: 0.85;
  margin-left: 86.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 30px;
  color: #000000;
}
.page-1 .container-41 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-1 .today-marks-day-26-in-the-journey-of-building-super-reply-the-revolutionary-chrome-extension-that-helps-people-save-time-and-effort-by-using-artificial-intelligence {
  position: absolute;
  top: 624px;
  right: 286.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}
.page-1 .rectangle-44 {
  background: url('../assets/images/rectangle_44.png') 50% / cover no-repeat;
  position: absolute;
  left: 287px;
  top: 866px;
  width: 262px;
  height: 205px;
}
.page-1 .frame-30 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.page-1 .last-page {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 68.1px 249px 74px;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1280px;
  box-sizing: border-box;
}
